*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
  margin: 0 auto;
}
img {
  max-width: 100%;
  display: block;
}
section {
  padding: 120px 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.headerlogo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.textlogo {
  color: #2e2f42;
}
.navilink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.firsta {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.firsta::after {
  content: "";
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
}
.contact {
  font-style: normal;
  display: flex;
  gap: 40px;
  margin-left: auto;
}
.contlink {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navilink:hover,
.navilink:focus,
.contlink:hover,
.contlink:focus {
  color: #404bbf;
}
.sectone {
  background-color: #2e2f42;
  padding: 188px 0;
  align-items: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/officepep.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.mainheadss {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.butmain {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.butmain:hover,
.butmain:focus {
  background-color: #404bbf;
}
.secttwo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 120px 0;
}
.secttwoh {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}
.ourthree {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.paragraph {
  font-size: 16px;
  color: #434455;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: 400;
}
.sectthree {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.teamhead {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.threeul .lisectthree {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.sectfour {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.porthead {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.footerclases {
  background-color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  padding: 100px 0;
}
.footerprag {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.spanlogo {
  color: #f4f4fd;
}
.logosus {
  color: #4d5ae5;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}
.mainheader {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.headerdiv {
  display: flex;
}
.navhead {
  display: flex;
  align-items: center;
}
.listnavi {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
}
.listitem {
  display: flex;
  gap: 40px;
  align-items: center;
}
.secondul {
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 0;
}
.secondli {
  width: calc((100% - 48px) / 3);
}
.navilink {
  padding: 24px 0;
}
.conlist {
  display: flex;
  gap: 40px;
  align-items: center;
}
.threeul {
  display: flex;
  gap: 24px;
}
.threediv {
  padding: 32px 0;
}
.threepar {
  text-align: center;
  margin-bottom: 8px;
}
.fourul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.fourul .lisectfour {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.lisectfour:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.lisectfour:hover .overlay {
  transform: translateY(0%);
}

.fourdiv {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  position: relative;
  overflow: hidden;
}
.fourh {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}
.fourpar {
  font-size: 16px;
  color: #434455;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: 400;
  text-align: left;
}
.svgdivone {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.socialul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.socialli {
  width: 40px;
  height: 40px;
}
.socialalink {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socialalink:hover,
.socialalink:focus {
  background-color: #404bbf;
}
.socialsvg {
  fill: #f4f4fd;
}
.boxoverlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footerdiv {
  display: flex;
  align-items: baseline;
}
.logotypediv {
  margin-right: 120px;
}
.socialmediap {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.socialulfooter {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.socialalinkfooter {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socialsvgfoot {
  fill: #f4f4fd;
  background-color: #4d5ae5;
}
.socialalinkfooter:hover,
.socialalinkfooter:focus {
  background-color: #31d0aa;
}
